@import "tailwindcss";

@font-face {
  font-family: "iphone";
  src: url(/public/Font\ Apple/sf-pro-text-regular);
}

@font-face {
  font-family: "vazir";
  src: url(/fonts/webfonts/Vazirmatn[wght].woff2);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --greyDark: #333333;
  --greyLight: #d6d6d6;
  --greyLight2: #a1a1a6;

  --white: #f5f6f6;
  --blue: #0f73b3;
  --text: #777777;
}

* {
  direction: rtl;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: var(--white);
  background-color: #3b3b3b;
  background-color: black;
  background-color: white;
  background-color: var(--white);
}

.btnGlass {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 999px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.155) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  font-family: "vazir", sans-serif;
  backdrop-filter: blur(1.5px);

  box-shadow:
    0 8px 32px 0 rgba(0, 0, 0, 0.3),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.4),
    inset 0 -2px 6px 0 rgba(0, 0, 0, 0.2);

  transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  color: var(--blue);
}
