# -------------------------
# PYTHON / DJANGO
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local database
db.sqlite3

# -------------------------
# PROJECT FOLDERS TO IGNORE
# -------------------------
assets/
media/

# -------------------------
# ENVIRONMENT VARIABLES
# -------------------------
.env
*.env

# -------------------------
# SQL / DATABASE DUMPS
# -------------------------
*.sql
old_db.dump

# -------------------------
# CUSTOM FILES YOU DON'T WANT IN GITHUB
# -------------------------
URLs.txt

# -------------------------
# VIRTUAL ENVIRONMENTS
# -------------------------
venv/
env/
.venv/
ENV/

# -------------------------
# OS FILES
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# VS CODE
# -------------------------
.vscode/

# -------------------------
# LOGS
# -------------------------
*.log

# -------------------------
# BUILD / DIST
# -------------------------
build/
dist/
*.egg-info/