.bodyCode {
  width: 100%;
  /* height: 100vh; */
  height: 200px;
  /* background: radial-gradient(
    circle at top,
    #1f2933 0,
    #1b202b 50%,
    #020204 100%
  ); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: white;
}

.boxCodeContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  width: 100%;
  
}

.boxCodeInput {
  background-color: white;
  color: #020204;
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
}
